@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");

body {
  font-family: "Neucha", cursive;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
}

.heading {
  text-transform: uppercase;
  font-size: 40px;
  color: #fff;
  z-index: 1;
  text-align: center;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 35px;
  }
}

.todos {
  display: flex;
  justify-content: center;
  width: 90%;
  flex-wrap: wrap;
}
